.profile__avatar-button {
  background-image: url(../../../images/edit-profile-image-icon.svg);
  background-color: transparent;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 40%;
  left: 38%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  margin: 0;
  padding: 0;
}

.profile__avatar-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 730px) {
  .profile__avatar-button {
    width: 18px;
    height: 18px;
    margin: 0 0 0 10px;
  }
}
