.popup__container_type_preview {
    display: flex;
    background-color: transparent;
    max-height: 75vh;
    max-width: 75vw;
    background: none;
    width: auto;
    padding: 0;
}

@media screen and (max-width: 600px) {
    .popup__container_type_preview  {
        width: 100%;
    }
}