.popup__submit-button_disabled {
  background-color: #fff;
  opacity: 0.2;
  border: 1px solid #000000;
  color: #1b1919;
}

.popup__submit-button_disabled:hover {
  cursor: default;
  opacity: 0.2;
}