.profile__edit-button_type {
    background-image: url(../../../../images/edit-profile-image-icon.svg);
    background-color: transparent;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 40%;
    left: 38%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    margin: 0;
    padding: 0;
}

.profile__edit-button_type:hover {
    opacity: 60%;
}

 @media screen and (max-width: 730px) {
    .profile__edit-button_type {
        width: 18px;
        height: 18px;
        margin: 0 0 0 10px;
    }
}