.popup__close-button {
    display: block;
    position: absolute;
    top: -35px;
    right: -35px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    padding: 0;
    background-image: url(../../../images/Close\ Icon.svg);
    background-position: center;
    border: none;
}

.button_close:hover{
    opacity: 0.6;
}

@media screen and (max-width: 600px) {
    .popup__close-button {
        background-size: contain;
        width: 22px;
        height: 22px;
        top: -38px;
        right: 0;
    }
}