.profile__add-button {
    background-image: url(../../../images/Add-Button.svg);
    width: 150px;
    height: 50px;
    align-self: center;
    right: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    margin: 0;
}

.profile__add-button:hover{
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 910px) {
    .profile__add-button  {
        height: 30px;
    }
}

 @media screen and (max-width: 730px) {
    .profile__add-button  {
        width: 282px;
        height: 50px;
        margin: 36px 0 0 0;
    }
}