.popup__container_type_profile-avatar {
    background-color: #FFFFFF;
    max-height: 272px;
    max-width:  430px;
    width: auto;
    padding: 34px, 36px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .popup__container_type_profile-avatar {
        width: 100%;
    }
}